.card-container {
    justify-content: space-between;
}

.card-style {
    width: 45%;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.card-img-style {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    width: 23%;
    padding: 0;
}

figure {
    flex-wrap: nowrap;
}
